<!doctype html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="/resources/tutorial/css/example.css"/>
</head>

<body ng-controller="MyController">

<!-- CHAT MARKUP -->
<div class="example-chat l-demo-container">
    <header>Pardons Web Console</header>

    <ul id="sent_pardons" class="example-chat-messages">
        <li ng-repeat="pardon in pardons">
            <strong class="example-chat-username">
                {{ pardon.from_display }} sent {{ pardon.quantity }} pardons to {{ pardon.to_display
                }} for {{
                pardon.reason }}
            </strong>
        </li>
    </ul>

    <ul id="my_accusations" class="example-chat-messages">
        <li ng-repeat="accusation in accusations">
            <strong class="example-chat-username">
                {{ accusation.accuser_display }} accused {{ accusation.accused_display }} of
                {{ accusation.reason }}
            </strong>
        </li>
    </ul>

    <footer>
        <select name="singleSelect" ng-model="pardons_type">
            <option value="sent">Sent</option>
            <option value="received">Received</option>
        </select>
        <br>

        <input ng-model="pardon_from" type="text" id="fromInput" placeholder="From...">
        <input ng-model="pardon_to" type="text" id="toInput" placeholder="To...">
        <input ng-model="quantity" type="number" id="quantityInput" placeholder="Quantity...">
        <input ng-model="reason" ng-keydown="addPardon($event)" type="text" id="reasonInput"
               placeholder="Type a reason...">

        <br>
        <br>
        <br>
        <select name="singleSelect" ng-model="accusation_type">
            <option value="accusations_by_me">By Me</option>
            <option value="accusations_against_me">Against Me</option>
        </select>
        <br>

        <input ng-model="accuser" type="text" id="accuserInput" placeholder="Accuser...">
        <input ng-model="accused" type="text" id="accusedInput" placeholder="Against...">
        <input ng-model="accusation_reason" ng-keydown="addAccusation($event)" type="text"
               id="accusationReasonInput"
               placeholder="Type a reason...">
    </footer>
</div>

<script>
      var myApp = angular.module("myApp", ["firebase"]);

      myApp.controller("MyController", ["$scope", "$firebaseArray",
        function($scope, $firebaseArray) {
            //CREATE A FIREBASE REFERENCE
            var dummyuidRef = new Firebase("https://pardons.firebaseio.com/users/google%3A102837845875216819095");
            $scope.pardons = [] // starts out empty
            $scope.accusations = [] // starts out empty


            //ADD PARDON METHOD
            $scope.addPardon = function(e) {

                //LISTEN FOR RETURN KEY
                if (e.keyCode === 13 && $scope.reason) {

                  var pardonsRef = dummyuidRef.child($scope.pardons_type);
                  // GET MESSAGES AS AN ARRAY
                  $scope.pardons = $firebaseArray(pardonsRef);

                  //ADD TO FIREBASE
                  $scope.pardons.$add({
                    from: $scope.pardon_from,
                    from_display: $scope.pardon_from,
                    to: $scope.pardon_to,
                    to_display: $scope.pardon_to,
                    date: new Date().getTime(),
                    quantity: $scope.quantity,
                    reason: $scope.reason,
                  });

                  //RESET MESSAGE
                  $scope.pardon_from = "";
                  $scope.pardon_to = "";
                  $scope.quantity = "";
                  $scope.reason = "";
                }
            }

            //ADD ACCUSATION METHOD
            $scope.addAccusation = function(e) {

                //LISTEN FOR RETURN KEY
                if (e.keyCode === 13 && $scope.accusation_reason) {
                  var accusationsRef = dummyuidRef.child($scope.accusation_type);
                  // GET MESSAGES AS AN ARRAY
                  $scope.accusations = $firebaseArray(accusationsRef);

                  //ADD TO FIREBASE
                  $scope.accusations.$add({
                    accuser: $scope.accuser,
                    accuser_display: $scope.accuser,
                    accused_: $scope.accused,
                    accused_display: $scope.accused,
                    date: new Date().getTime(),
                    reason: $scope.accusation_reason,
                  });

                  //RESET MESSAGE
                  $scope.accuser = "";
                  $scope.accused = "";
                  $scope.accusation_reason = "";
                }
            }
        }
      ]);


</script>
</body>
</html>