<!doctype html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="/resources/tutorial/css/example.css"/>
</head>

<body ng-controller="MyController">

<!-- CHAT MARKUP -->
<div class="example-chat l-demo-container">
    <header>Firebase Chat Demo</header>

    <ul id="example-messages" class="example-chat-messages">
        <li ng-repeat="pardon in pardons">
            <strong class="example-chat-username">
                {{ pardon.accuser }} sent {{ pardon.quantity }} pardons accused {{ pardon.accused }} for {{
                pardon.reason }}
            </strong>
        </li>
    </ul>

    <footer>
        <select name="singleSelect" ng-model="pardons_type">
            <option value="sent">Sent</option>
            <option value="received">Received</option>
            <option value="pending_inbound">Pending Inbound</option>
            <option value="pending_outbound">Pending Outbound</option>
            <option value="denied_inbound">Denied Inbound</option>
            <option value="denied_outbound">Denied Outbound</option>
        </select>
        <br>

        <input ng-model="accuser" type="text" id="fromInput" placeholder="From...">
        <input ng-model="accused" type="text" id="toInput" placeholder="To...">
        <input ng-model="quantity" type="number" id="quantityInput" placeholder="Quantity...">
        <input ng-model="reason" ng-keydown="addPardon($event)" type="text" id="reasonInput"
               placeholder="Type a reason...">
    </footer>
</div>

<script>
      var myApp = angular.module("myApp", ["firebase"]);

      myApp.controller("MyController", ["$scope", "$firebaseArray",
        function($scope, $firebaseArray) {
            //CREATE A FIREBASE REFERENCE
            var dummyuidRef = new Firebase("https://pardons.firebaseio.com/users/dummyuid");
            $scope.pardons = [] // starts out empty


            //ADD MESSAGE METHOD
            $scope.addPardon = function(e) {

            //LISTEN FOR RETURN KEY
            if (e.keyCode === 13 && $scope.reason) {

              var pardonsRef = dummyuidRef.child($scope.pardons_type);
              // GET MESSAGES AS AN ARRAY
              $scope.pardons = $firebaseArray(pardonsRef);

              //ADD TO FIREBASE
              $scope.pardons.$add({
                accuser: $scope.accuser,
                from_display: $scope.accuser,
                accused: $scope.accused,
                to_display: $scope.accused,
                date: new Date().getTime(),
                quantity: $scope.quantity,
                reason: $scope.reason,
              });

              //RESET MESSAGE
              $scope.accused = "";
              $scope.accuser = "";
              $scope.quantity = "";
              $scope.reason = "";
            }
          }
        }
      ]);


</script>
</body>
</html>