<!doctype html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="/resources/tutorial/css/example.css"/>
</head>

<body ng-controller="MyController">

<!-- CHAT MARKUP -->
<div class="example-chat l-demo-container">
    <header>Firebase Chat Demo</header>

    <ul id="example-messages" class="example-chat-messages">
        <li ng-repeat="pardon in pardons">
            <strong class="example-chat-username">
                {{ pardon.from }} sent {{ pardon.quantity }} pardons to {{ pardon.to }} for {{ pardon.reason }}
            </strong>
        </li>
    </ul>

    <footer>
        <input ng-model="from" type="text" id="fromInput"  placeholder="From...">
        <input ng-model="to" type="text" id="toInput"  placeholder="To...">
        <input ng-model="quantity" type="number" id="quantityInput"  placeholder="Quantity...">
        <input ng-model="reason" ng-keydown="addPardon($event)" type="text" id="reasonInput"  placeholder="Type a reason...">
    </footer>
</div>

<script>
      var myApp = angular.module("myApp", ["firebase"]);

      myApp.controller("MyController", ["$scope", "$firebaseArray",
        function($scope, $firebaseArray) {
          //CREATE A FIREBASE REFERENCE
          var ref = new Firebase("https://pardons.firebaseio.com/users/dummyuid/pending_inbound");

          // GET MESSAGES AS AN ARRAY
          $scope.pardons = $firebaseArray(ref);

          //ADD MESSAGE METHOD
          $scope.addPardon = function(e) {

            //LISTEN FOR RETURN KEY
            if (e.keyCode === 13 && $scope.reason) {

              //ADD TO FIREBASE
              $scope.pardons.$add({
                from: $scope.from,
                from_display: $scope.from,
                to: $scope.to,
                to_display: $scope.to,
                date: new Date().getTime(),
                quantity: $scope.quantity,
                reason: $scope.reason,
              });

              //RESET MESSAGE
              $scope.to = "";
              $scope.reason = "";
            }
          }
        }
      ]);
    </script>
</body>
</html>